NEXT_PUBLIC_BACKEND_URL=https://ciilayer.onrender.com/

# Hedera Testnet EVM
NEXT_PUBLIC_CHAIN_ID=296
NEXT_PUBLIC_HEDERA_RPC_URL=https://testnet.hashio.io/api
NEXT_PUBLIC_CHAIN_NAME=Hedera Testnet
NEXT_PUBLIC_BLOCK_EXPLORER_URL=https://hashscan.io/testnet
NEXT_PUBLIC_NATIVE_CURRENCY_NAME=HBAR
NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=HBAR
NEXT_PUBLIC_NATIVE_CURRENCY_DECIMALS=18

# WalletConnect (optional)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
